@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Cormorant+Garamond:ital@1&family=Montserrat&family=Prata&family=Source+Code+Pro:wght@500&family=Tilt+Prism&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Source Code Pro", sans-serif;
  background: linear-gradient(to bottom right, rgba(231, 247, 110, 0.701), rgba(4, 244, 212, 0.988));
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(96, 86, 86, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #ffffff;
  text-align: center;
}

.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  background: linear-gradient(90deg, #f81c5e 0%, #52b0f8 179.25%);
}

.progress {
  background: linear-gradient(90deg, #209cff 0%, #9ac9f2 100%);
}

.done {
  background: linear-gradient(90deg, #28ed70 0%, #36c8ed 100%);
}

.hold {
  border: 3px solid #e100ff60;
}

.hide {
  display: none;
}

.hovered {
  border-top: 3px solid #e100ff60;
}